.classpath
.project
.settings/
.jshintrc
node_modules/
bower_components/
*~
.DS_Store
.vs/
.ntvs_analysis.dat
obj/
bin/
logs/

# kurento-rtsp2many
kurento-rtsp2many/server.js

# aquamed-kurento-rtsp2webrtc
aquamed-kurento-rtsp2webrtc/script.js
aquamed-kurento-rtsp2webrtc/distr/KurentoRtspStreamingManager.js
