.classpath
.project
.settings/
.jshintrc
node_modules/
bower_components/
*~
.DS_Store
.vs/
.ntvs_analysis.dat
obj/
bin/
logs/
*.log
*.pid

# kurento-rtsp2many
kurento-rtsp2many/server.js
kurento-rtsp2many/server/**/*.js
kurento-rtsp2many/server/**/*.js.map
kurento-rtsp2many/server/KurentoHub.config.json
kurento-rtsp2many/web/js/**/*.js
kurento-rtsp2many/web/js/**/*.js.map
kurento-rtsp2many/web/index.js
kurento-rtsp2many/tests/**/*.js
kurento-rtsp2many/tests/**/*.js.map
kurento-rtsp2many/release/

# aquamed-kurento-rtsp2webrtc
aquamed-kurento-rtsp2webrtc/script.js
aquamed-kurento-rtsp2webrtc/distr/KurentoRtspStreamingManager.js
